*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
}

#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

#nav h2{
    font-size: 25px;
    font-weight: 600;
}

#nav h3{
    font-size: 25px;
    font-weight: 600;
}

#nav h4{
    font-size: 25px;
    font-weight: 600;
}

#nav-part2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

#content{
    padding: 60px 80px;
}

#content h3{
    font-size: 35px;
    font-weight: 600;
}

#content h1{
    margin-top: 44px; /*to leave space from top*/ 
    font-size: 180px;
    line-height: 180px;
    font-weight: 500;
    letter-spacing: -6px;
    word-spacing: 12px;
}

#case{
    padding: 60px 80px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#case h4{
    font-size: 30px;
    font-weight: 500;
}


#case h5{
    font-size: 30px;
    font-weight: 500;
}

#right{
    display: flex;
    align-items: center;
    gap: 40px;
}

#line{
    height: 3px;
    width: 150px;
    background-color: black;
}

#project{
    padding: 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.elem{
    width: 50%;
}

.elem-img{
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

#img1{
    background-image: url(https://pagedone.io/asset/uploads/1707480017.png);
}

#img2{
    background-image: url(https://easywithai.com/storage/2024/03/Haiper-AI.webp);
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.bottom i{
    font-size: 30px;
    border: 3px solid black;
    padding: 20px 35px;
    border-radius: 50px;
    color: white;
    background-color: black; 
}

.bottom h2{
    font-size: 40px;
    font-weight: 500;
}

.bottom h3{
    font-size: 25px;
    font-weight: 500;
    color: grey;
}

